<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Főoldal</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="navbar navbar-expand-lg">
                <a routerLink="/" class="navbar-brand">Home</a>
                <a routerLink="/history" class="navbar-brand">History</a>
                <a routerLink="/toys" class="navbar-brand">Plush toys</a>
                <a routerLink="/new-plushie" class="navbar-brand">Plush toys</a>
                <a routerLink="/inventory" class="navbar-brand">Inventory</a>
            </div>
        </div>
        <div class="row">
            <h1>
                Welcome to the home page of the Acme Plushie Store!
            </h1>
            <p>
                On our site, you can learn about the history of various plushies and other types of stuffed animals and the founding of our store. You can also request new plushies to be added and view our current inventory.
            </p>
            <p>
                Our site is still under active development, thus there might be some errors, bugs that we didn’t manage to squash yet. Thank you for your understanding.
            </p>
            <p>
                We hope you enjoy your stay!
            </p>
        </div>
        <div class="footer">
            <h3>Created By: Réfi László</h3>
        </div>
    </div>
    
</body>
</html>