<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plushe</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="navbar navbar-expand-lg">
          <a routerLink="/" class="navbar-brand">Home</a>
          <a routerLink="/history" class="navbar-brand">History</a>
          <a routerLink="/toys" class="navbar-brand">Plush toys</a>
          <a routerLink="/new-plushie" class="navbar-brand">Plush toys</a>
          <a routerLink="/inventory" class="navbar-brand">Inventory</a>
      </div>
  </div>
    <div class="row">
      <h3>
        Plush tiger,<i>$25</i>
      </h3>
      
      <h3>
        Kangoroo<i>$19.99</i>
      </h3>
      
      <h3>
        Teddy Family<i>$49.99</i>
      </h3>
    
    </div>
  </div>
</body>
</html>