
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="navbar navbar-expand-lg">
                <a routerLink="/" class="navbar-brand">Home</a>
                <a routerLink="/history" class="navbar-brand">History</a>
                <a routerLink="/toys" class="navbar-brand">Plush toys</a>
                <a routerLink="/new-plushie" class="navbar-brand">Plush toys</a>
                <a routerLink="/inventory" class="navbar-brand">Inventory</a>
            </div>
        </div>
        <div class="row">
            <h2>About our store</h2> 
            <p>
                The store was founded in 2011, and since then it won the “Best Plushie Store” award every year.
            </p>
        </div>
        <div class="row ">
            <div class="img">
                <img src="../../assets/feladat2.png" alt="Best Plushie Store award" class="rounded mx-auto d-block">
            </div>
        </div>
      
        <div class="row justify-content-between">
            <div class="">
                <h2 class="">
                    Famous plushies
                </h2>
            </div>
            <div class="col-sm-12 col-md-3 border ">
                <h3 class=" ">
                    Daniel the Dinosaur
                </h3>
                <p>
                    A large dinosaur by famous plushie maker John Plush.
                </p>
            </div>
            <div class="col-sm-12 col-md-3 border">
                <h3>
                    Ted
                </h3>
                <p>
                    The first life-sized teddy bear in the country.
                </p>
            </div>
            <div class="col-sm-12 col-md-3 border">
                <h3>
                    Coffee Cat
                </h3>
                <p>
                    A controversial plushie that promoted drinking coffee to aid web development.
                </p>
            </div>
        </div>
        <div class="row">
            <h2>
                Provide feedback
            </h2>
            <form>
                <div class="col">
                    <label class="col-12" for="email">  Email:</label>
                    <input class="col-12" type="email" name="" id="email">
                </div>
                <div class="col">
                    <label class="col-12" for="feedback">Feedback:</label>
                    <textarea class="col-12" name="" id="" cols="30" rows="10" id="feedback"></textarea>
                </div>
                <div class="col">
                    <input type="submit" name="Submit" class="btn btn-primary">
                </div>
            </form>
    
        </div>
    </div>
    
</body>
</html>